In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
#Load data
df = pd.read_csv("https://raw.githubusercontent.com/varshitverma/18CSE138/main/diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [ ]:
features_cols=['Pregnancies','Glucose','BloodPressure','Insulin','BMI','DiabetesPedigreeFunction','Age']

In [ ]:
x = df[features_cols]
y=df.Outcome

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [ ]:
print(x_train.head(4))

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
527            3      116             74  ...  26.3                     0.107   24
118            4       97             60  ...  28.2                     0.443   22
190            3      111             62  ...  22.6                     0.142   21
19             1      115             70  ...  34.6                     0.529   32

[4 rows x 7 columns]

In [ ]:
print(x_test.head(5))

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
565            2       95             54  ...  26.1                     0.748   22
599            1      109             38  ...  23.1                     0.407   26
262            4       95             70  ...  32.1                     0.612   24
429            1       95             82  ...  35.0                     0.233   43
282            7      133             88  ...  32.4                     0.262   37

[5 rows x 7 columns]

In [ ]:
clf = DecisionTreeClassifier()

In [ ]:
clf = clf.fit(x_train,y_train)

In [ ]:
y_test = clf.predict(x_test)

In [ ]:
print("Accuracy :",metrics.accuracy_score(y_test,y_test))

Accuracy : 1.0